POSTGRES_DB=mentor_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456

DB_HOST=db
DB_PORT=5432
DB_NAME=mentor_db
DB_USER=admin
DB_PASSWORD=123456

API_PORT=3000
CLIENT_PORT=5173
CLIENT_ORIGIN=http://localhost:5173

JWT_SECRET=replace_this_with_a_long_secret
JWT_EXPIRES_IN=8h
COOKIE_NAME=mentor_session
NODE_ENV=development

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
